### **Installing and Importing Modules as Needed**

In [0]:
#Installs necessary modules
!pip install rdflib
!pip install bs4
!pip install SPARQLWrapper

Requirement already satisfied: rdflib in /usr/local/lib/python3.6/dist-packages (4.2.2)
Requirement already satisfied: isodate in /usr/local/lib/python3.6/dist-packages (from rdflib) (0.6.0)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from rdflib) (2.4.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from isodate->rdflib) (1.12.0)
Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4) (4.6.3)
Requirement already satisfied: SPARQLWrapper in /usr/local/lib/python3.6/dist-packages (1.8.4)
Requirement already satisfied: rdflib>=4.0 in /usr/local/lib/python3.6/dist-packages (from SPARQLWrapper) (4.2.2)
Requirement already satisfied: isodate in /usr/local/lib/python3.6/dist-packages (from rdflib>=4.0->SPARQLWrapper) (0.6.0)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from rdflib>=4.0->SPARQLWrapper) (2.4.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from isodate->rdflib>=4.0->SPARQLWrapper) (1.12.0)

In [0]:
#Import RDFLib module and associated classes
import rdflib as rb
from rdflib import Literal, BNode, URIRef, Graph, Namespace
from rdflib.namespace import RDF, OWL, RDFS, FOAF, XSD, DC

#Import SPARQL
from SPARQLWrapper import SPARQLWrapper, JSON, CSV

#Import spaCy module
import spacy as sp

#Import pre-installed modules for various analysis
from urllib import request
import re
import os
import sys
import pandas as pd
import numpy as np

#Import BeautifulSoup for webscraping
from bs4 import BeautifulSoup

### **Parsing the Original Protoge Knowledge Graph**

Parsing the original turtle file exported from Protoge.  This file will be instantiated with all data properties that are extracted from each database.

In [0]:
g3 = Graph()
g3.parse('MIE1501-T5-P2-neighbourhood_crime_ontology.ttl',format = 'turtle')

### **Extracting Data URL'S**
URL's extracted directly from the provided websites.  They have been promptly named police_url and neighbourhood_url.

In [0]:
police_url = 'https://opendata.arcgis.com/datasets/98f7dde610b54b9081dfca80be453ac9_0.csv?outSR=%7B%22latestWkid%22%3A3857%2C%22wkid%22%3A102100%7D'
neighbourhood_url = 'https://ckan0.cf.opendata.inter.prod-toronto.ca/download_resource/ef0239b1-832b-4d0b-a1f3-4153e53b189e?format=csv'

### **Downloading Data**

The function below directly extracts the data from each database and downloads it.  When the URL is entered as an argument and the function is called, each database (for neighbourhood profiling and crime analysis) will automatically be converted into a panda's dataframe.

In [0]:
def download_data(url,txt_name): 
    file_open = request.urlopen(url)
    file_info = file_open.read()
    file_info_str = str(file_info)
    file_lines = file_info_str.split('\\n')
    new_file = open(txt_name,'w')

    count = 0
    for info in file_lines:
        count += 1
        new_file.write(info + '\n')
    new_file.close()

    return pd.read_csv(txt_name, nrows = count-2)

### **Defining Ontology Namespaces**

In [0]:
#Namespace definitions

sch = rb.Namespace('http://schema.org/')
xsd = rb.Namespace('http://www.w3.org/2001/XMLSchema#')
rdfs = rb.Namespace('http://www.w3.org/2000/01/rdf-schema#')
owl = rb.Namespace('http://www.w3.org/2002/07/owl#')
nbc = rb.Namespace('http://www.semanticweb.org/yiningzhou/ontologies/2019/11/NCA#')

# **1. Neighbourhood Dataset**

In the neighbourhood dataset, we eliminated all rows that were not relevant to our ontology.  The rows that we decided to keep pertain to Education, Income, Occupation and Age population.  This helps to filter the data that we need and to reduce the file size of the turtle that will be exported at the end of this program.

In [0]:
neighbourhood_data = download_data(neighbourhood_url,'neighbourhood_data.txt')

neighbourhood_data = neighbourhood_data.replace(',','', regex = True)

neighbourhood_data.iloc[4,5:] = (neighbourhood_data.iloc[4,5:].replace('%','', regex = True)).astype(float)/100
neighbourhood_data.iloc[117,5:] = (neighbourhood_data.iloc[117,5:].replace('%','', regex = True)).astype(float)/100
neighbourhood_data.iloc[120,5:] = (neighbourhood_data.iloc[120,5:].replace('%','', regex = True)).astype(float)/100
neighbourhood_data.iloc[123,5:] = (neighbourhood_data.iloc[126,5:].replace('%','', regex = True)).astype(float)/100
neighbourhood_data.iloc[126,5:] = (neighbourhood_data.iloc[126,5:].replace('%','', regex = True)).astype(float)/100
neighbourhood_data.iloc[134,5:] = (neighbourhood_data.iloc[134,5:].replace('%','', regex = True)).astype(float)/100

neighbourhood_data.iloc[2:,5:] = neighbourhood_data.iloc[2:,5:].astype(float)

for i in range(neighbourhood_data.shape[0]-1,0,-1):
  if (i not in range(988,999)) and (i not in range(9,15)) and (i not in range(1922,1932)) and (i not in [1715,1716,1720,1725,1728]): 
    neighbourhood_data = neighbourhood_data.drop(neighbourhood_data.index[i])

neighbourhood_data = neighbourhood_data.dropna()
neighbourhood_data.reset_index(drop=True, inplace=True)
neighbourhood_data.head()

   b'_id    Category  ... York University Heights Yorkdale-Glen Park
0     10  Population  ...                    4045               1960
1     11  Population  ...                    4750               1870
2     12  Population  ...                   12290               5860
3     13  Population  ...                    2965               1810
4     14  Population  ...                    3530               3295

[5 rows x 146 columns]

In [0]:
community = list(neighbourhood_data.columns[5:])
g1 = Graph()
# neighborhood
#g1.add((nbc.Community, RDF.type, owl.Class))
#g1.add((nbc.NeighbourhoodInfo, nbc.hasCommunity, nbc.Community))
new_community = []

n = 0
for item in community:
  item = re.sub('[^a-zA-Z0-9 \n\.]', '', item)
  item = item.replace(' ', '')
  new_community.append(item)

  for i in range(0,neighbourhood_data.shape[0]-1):
  # community
    community_name = rb.Namespace(nbc + str(item) + str(i))
    pos = new_community.index(item) + 5
    hood_id = neighbourhood_data.iloc[0,pos]
    g1.add((URIRef(community_name), RDF.type, nbc.Community))
    g1.add((URIRef(community_name), nbc.hasName, Literal(item)))
    g1.add((URIRef(community_name), nbc.hasHoodID, Literal(hood_id)))
    g1.add((URIRef(community_name), nbc.hasCategory, Literal(str(neighbourhood_data.iloc[i,1]))))
    g1.add((URIRef(community_name), nbc.hasTopic, Literal(str(neighbourhood_data.iloc[i,2]))))
    g1.add((URIRef(community_name), nbc.hasCharacteristic, Literal(str(neighbourhood_data.iloc[i,4]))))
    g1.add((URIRef(community_name), nbc.hasValue, Literal(str(neighbourhood_data.iloc[i, pos]))))


g1.serialize(destination='neighbor.ttl', format='turtle')

# **2. Police Dataset**

In the data below, we call the download_data function to directly extract the file from the specified URL.  Once this is done, the data goes under a cleaning process where 2014-2016 information is dropped from the file.  We are also dropping any rows that contain blanks.  The reason for this is to reduce the computational time of extracting the data and adding each instance to the knowledge graph.

In [0]:
police_data = download_data(police_url,'police_data.txt')

#Eliminate reported years 2014-2016
police_data = police_data[police_data.reportedyear != 2014]
police_data = police_data[police_data.reportedyear != 2015]
police_data = police_data[police_data.reportedyear != 2016]

#Eliminate occurred years 2014-2016
police_data = police_data[police_data.occurrenceyear != 2014]
police_data = police_data[police_data.occurrenceyear != 2015]
police_data = police_data[police_data.occurrenceyear != 2016]

police_data = police_data.dropna()

police_data['MCI'] = police_data['MCI'].replace(["Theft Over","Assault","Robbery","Break and Enter","Auto Theft"], ["theftOver","assault","robbery","breakAndEnter","autoTheft"])
police_data.head()

      b"\xef\xbb\xbfX          Y  Index_  ...        Lat       Long ObjectId
7004       -79.492294  43.614082   13483  ...  43.614082 -79.492294    12005
7008       -79.492294  43.614082   13484  ...  43.614082 -79.492294    12009
7012       -79.348854  43.773651   13485  ...  43.773651 -79.348854    12013
7013       -79.500862  43.763363   13486  ...  43.763363 -79.500862    12014
7015       -79.212387  43.744606   13487  ...  43.744606 -79.212387    12016

[5 rows x 29 columns]

### **Adding in Data from Crime Database** 

Here, we created a unique case for each crime committed in the database.  This way, we can uniqely identify each crime with their respective crime types, premise types, occurance and reported times.  This will allow us to design the queries in an efficient manner.

- The crime data has been added to a separate graph function from the neighbourhood data.  Both graphs will be merged into one knowledge graph and exported into a single turtle file. 
- Please note that due to the file size of the CSV database, we eliminated all data from 2014-2016.  The program kept crashing and running into memory errors if otherwise kept.  Time frames and intervals will therefore be measured year over year.  
- All crime types have been renamed to fit the ontological criteria.

In [0]:
g2 = Graph()
#Crime Types
g2.add((nbc.CrimeType,nbc.hasInstanceOf,Literal("theftOver")))
g2.add((nbc.CrimeType,nbc.hasInstanceOf,Literal("assault")))
g2.add((nbc.CrimeType,nbc.hasInstanceOf,Literal("robbery")))
g2.add((nbc.CrimeType,nbc.hasInstanceOf,Literal("breakAndEnter")))
g2.add((nbc.CrimeType,nbc.hasInstanceOf,Literal("autoTheft")))

#Premise Types
g2.add((nbc.PremiseType,nbc.hasPremise,Literal("Apartment")))
g2.add((nbc.PremiseType,nbc.hasPremise,Literal("Outside")))
g2.add((nbc.PremiseType,nbc.hasPremise,Literal("House")))
g2.add((nbc.PremiseType,nbc.hasPremise,Literal("Commercial")))
g2.add((nbc.PremiseType,nbc.hasPremise,Literal("Other")))

n = 0
for i in range(1,police_data.shape[0]):
  try:
    
    n += 1
    g2.add((nbc["c" + str(n)],RDF.type,nbc.Crime)) #Each case is of type Crime
    g2.add((nbc["c" + str(n)],nbc.offenceOf,Literal(police_data.loc[i, 'MCI']))) #Offence commited of each case
    g2.add((nbc["c" + str(n)],nbc.committedInHood,Literal(police_data.loc[i, 'Hood_ID']))) #Offence commited of each case
    g2.add((nbc["c" + str(n)],nbc.committedInNeighbourhood,Literal(police_data.loc[i, 'Neighbourhood']))) #Offence commited of each case
    g2.add((nbc["c" + str(n)],nbc.committedOnPremiseType,Literal(police_data.loc[i, 'premisetype']))) #Offence commited of each case
    g2.add((nbc["c" + str(n)],nbc.hasLatitude,Literal(police_data.loc[i, 'Lat']))) #Latitude
    g2.add((nbc["c" + str(n)],nbc.hasLongtitude,Literal(police_data.loc[i, 'Long']))) #Longtitude

    #OccurredTime
    g2.add((nbc["c" + str(n)],nbc.hasOccurYear,Literal(police_data.loc[i, 'occurrenceyear']))) #Year
    g2.add((nbc["c" + str(n)],nbc.hasOccurMonth,Literal(police_data.loc[i, 'occurrencemonth']))) #Month
    g2.add((nbc["c" + str(n)],nbc.hasOccurDayOfWeek,Literal(police_data.loc[i, 'occurrencedayofweek']))) #Day of Week
    g2.add((nbc["c" + str(n)],nbc.hasOccurHour,Literal(police_data.loc[i, 'occurrencehour']))) #Hour 
  
  except:
    pass

g2.serialize("crime.ttl",format = 'turtle')

### **Exporting Combined KnowledgeGraphs into Turtle File**
Here, we combined the 3 knowledge graphs into 1 so that we may export 1 consolidated Turtle file.  Running this will add the Turtle to the local directory, where it may be downloaded.

In [0]:
g = (g3+g1+g2)
g.serialize(destination = "neighbourhood_crime_ontology.ttl", format = 'turtle')